{% extends "base.html" %}

{% block title %}
{{ user.name }}'s Home Page
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container mt-3">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<section class="hero position-relative">
    <img src="{{ url_for('static', filename='images/husky_lake.png') }}" alt="Husky Image with Lake" class="hero-image w-100">
    <div class="hero-title">Welcome {{ user.name }}, <br>Feel free to explore</div>
</section>

<section class="services container mt-5" id="services">
    <div class="text-center mb-4">
        <h2 class="services-title">Our Services</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <div class="card service-card shadow-sm p-3">
                <a href="{{ url_for('mood_analyzer') }}">
                    <img src="{{ url_for('static', filename='images/pet_mood.png') }}" alt="Identify Pet Mood" class="card-img-top mx-auto">
                    <div class="card-body">
                        <p class="card-text">IDENTIFY PET MOOD</p>
                    </div>
                </a>
            </div>
        </div>                
        <div class="col-md-6">
            <div class="card service-card shadow-sm p-3">
                <a href="{{ url_for('breed_analyzer') }}">
                    <img src="{{ url_for('static', filename='images/pet_breed.png') }}" alt="Identify Pet Breed" class="card-img-top mx-auto">
                    <div class="card-body">
                        <p class="card-text">IDENTIFY BREED</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
