<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c2b280;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PAWspective Insights</a>
            </div>
        </nav>
    </header>

    <div class="container mt-5 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-6 login-card card p-4 shadow-sm">
                <h4 class="text-center">Welcome to PAWspective Insights</h4>
                <p class="text-center">Pet's feelings matter!</p>
                <form action="/login" method="post" autocomplete="off">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
                            autocomplete="new-email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter your password" autocomplete="new-password" required>
                    </div>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="container mt-3">
                        {% set category, message = messages[-1] %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}


                    <script>
                        document.querySelector("form").addEventListener("submit", function () {
                            this.querySelector("button[type='submit']").disabled = true;
                        });
                    </script>

                    <button type="submit" class="btn btn-custom">Log In</button>
                    <p><a href="/signup">New User Sign Up</a> | <a href="/recover_password">Forgot your Password?</a>
                    </p>
                </form>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{{ url_for('static', filename='images/husky.jpeg') }}" alt="Husky Image"
                    class="img-fluid rounded shadow">
            </div>
        </div>
    </div>

    <footer class="footer mt-5 py-4">
        <div class="container text-center">
            <p>PAWspective Insights © 2024</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-dark">Home</a></li>
                <li class="list-inline-item"><a href="#" class="text-dark">About us</a></li>
                <li class="list-inline-item"><a href="#" class="text-dark">Our Services</a></li>
                <li class="list-inline-item"><a href="#" class="text-dark">Contact</a></li>
            </ul>
        </div>
    </footer>

    <!-- Add Bootstrap JavaScript Bundle with Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>