<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c2b280;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PAWspective Insights</a>
            </div>
        </nav>
    </header>

    <div class="container mt-3">
        <a href="/" class="btn btn-back">
            <span>&lt;</span>
        </a>
    </div>

    <div class="container mt-2 d-flex justify-content-center">
        <div class="sign-up-card card p-4 shadow-sm">
            <h2 class="text-center mb-4">Create your Account</h2>
            <form action="/signup" method="post" autocomplete="off">
                <div class="row mb-2 align-items-center">
                    <label for="name" class="col-sm-4 col-form-label">Name :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" name="name" autocomplete="new-name" required>
                    </div>
                </div>
                <div class="row mb-2 align-items-center">
                    <label for="address" class="col-sm-4 col-form-label">Address :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="address" name="address" autocomplete="new-address" required>
                    </div>
                </div>
                <div class="row mb-2 align-items-center">
                    <label for="city" class="col-sm-4 col-form-label">City :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="city" name="city" autocomplete="new-city" required>
                    </div>
                </div>
                <div class="row mb-2 align-items-center">
                    <label for="province" class="col-sm-4 col-form-label">Province :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="province" name="province" autocomplete="new-province" required>
                    </div>
                </div>
                <div class="row mb-2 align-items-center">
                    <label for="country" class="col-sm-4 col-form-label">Country :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="country" name="country" autocomplete="new-country" required>
                    </div>
                </div>
                <div class="row mb-2 align-items-center">
                    <label for="postal_code" class="col-sm-4 col-form-label">Postal Code :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="postal_code" name="postal_code" autocomplete="new-postal-code" required>
                    </div>
                </div>
                <div class="row mb-2 align-items-center">
                    <label for="email" class="col-sm-4 col-form-label">Email :</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" name="email" autocomplete="new-email" required>
                    </div>
                </div>
                <div class="row mb-2 align-items-center">
                    <label for="password" class="col-sm-4 col-form-label">Password :</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" name="password" autocomplete="new-password" required>
                    </div>
                </div>
                <div class="row mb-2 align-items-center">
                    <label for="confirmpassword" class="col-sm-4 col-form-label">Confirm Password :</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" autocomplete="new-password" required>
                    </div>
                </div>
                <div class="row mb-2 align-items-center">
                    <label for="dob" class="col-sm-4 col-form-label">Date Of Birth :</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="dob" name="dob" autocomplete="new-date" required>
                    </div>
                </div>

          
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
                        viewBox="0 0 16 16" role="img" aria-label="Warning:" width="24" height="24">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg> -->
                    <div>
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-custom mx-2">Sign Up</button>
                    <button type="button" class="btn btn-custom-cancel mx-2">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer mt-5 py-4">
        <div class="container-fluid p-3">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center align-items-center">
                    <h2 class="footer-title">PAWspective <br> Insights</h2>
                </div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-center">
                        <div class="footer-links-section">
                            <h4 class="footer-links-title">Important links</h4>
                            <div class="d-flex justify-content-center">
                                <ul class="footer-links">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/about">About us</a></li>
                                </ul>
                                <ul class="footer-links ms-4">
                                    <li><a href="/services">Our Services</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/submit_feedback">Feedback</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>
